# Database
POSTGRES_DB=fitpm_db
POSTGRES_USER=fitpm_user
POSTGRES_PASSWORD=fitpm_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Django
DEBUG=1
SECRET_KEY=django-insecure-fitpm-super-secret-key-2026
ALLOWED_HOSTS=*
CORS_ALLOW_ALL_ORIGINS=True

# Frontend
VITE_API_URL=http://localhost:8000/api
